/*about*/

#div02{
    height:100vh;
    width: 100%;
    background: linear-gradient(to right, #0c9463 0%,#00224d 100%);
    background-size: cover;

}



.container {
    opacity: 0;
    transition: opacity 1s ease-out;
    pointer-events: none; /* Disable pointer events */
}

.container {
    display: none;
}

.transparent-about {
    font-size: 5vw;
    font-weight: bold;
    position: absolute;
    top: 120%;
    right: 47%;
    color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
}


#div02>#section4>h5 {
    color: lightgoldenrodyellow;
    font-size: 12px;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 106%;
    left: 21%;
    position: absolute;
}

#div02>#section4>h6 {
    color: #0c9463;
    font-size: 15px;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 107%;
    left: 10%;
    position: absolute;
}

#div02>#section4>div {
    width: 1.3vw;
    height: 1.3vw;
    background: linear-gradient(to right, #d9d9d9 1%, #356aa0 98%);
    position: absolute;
    left: 7%;
    top: 107%;

}


#div02>img{
    height: 30vw;
    width: 30vw;
    border-radius: 60%;
    border: #00224d solid 2px;
    left: 10%;
    top: 125%;
    position: absolute;

}

#div02>#section5{
    width: 20vw;
    height: 100vh;
    background-color: #00224d;
}

#div02>#section6>div{
    color: grey;
    font-size: 2.5vw;
    font-family: "Klee One", cursive;
    font-weight: 400;
    left: -2%;
    top: 148%;
    transform: rotate(270deg);
    position: absolute;
}

#about {
    font-size: 20px; /* Set default font size for #about */
    color: white;
    font-family: "Fredoka", sans-serif;
    left: 48%;
    top: 140%;
    width: 600px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
}

.letter {
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.letter.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
  /*  .div02 {
        padding: 3rem 1.5rem;
    }
*/
    #section4 h6 {
        font-size: 8px;

    }

    #section4 h5 {
        font-size: 9px;
    }

    #section4 .quote-divider {
        width: 40px;
        height: 3px;
    }

    #section5 img {
        width: 180px;
        height: 180px;
    }



    #about {
        font-size: 1rem;
    }
    .social-icons img {
        width: 25px;
        height: 25px;

    }
}

@media (max-width: 425px) {
    /*about*/

    #div02{
        height:120vh;
        width: 120%;
        background: linear-gradient(to right, #0c9463 0%,#00224d 100%);
        background-size: cover;
    }

    .transparent-about {
        font-size: 5vw;
        font-weight: bold;
        position: absolute;
        top: 110%;
        right: 15%;
        color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
    }


    #div02>#section4>h5 {
        color: lightgoldenrodyellow;
        font-size: 8px;
        font-family: "Playwrite DE Grund", cursive;
        font-optical-sizing: auto;
        font-weight: 0;
        font-style: normal;
        top: 125%;
        left: 21%;
        position: absolute;
        display: none;
    }

    #div02>#section4>h6 {
        color: #0c9463;
        font-size: 10px;
        font-family: "Playwrite DE Grund", cursive;
        font-optical-sizing: auto;
        font-weight: 0;
        font-style: normal;
        top: 106%;
        left: 10%;
        position: absolute;
        display: none;
    }

    #div02>#section4>div {
        width: 2vw;
        height: 2vw;
        background: linear-gradient(to right, #d9d9d9 1%, #356aa0 98%);
        position: absolute;
        left: 7%;
        top: 107%;
        display: none;

    }


    #div02>img{
        height: 40vw;
        width: 40vw;
        border-radius: 60%;
        border: #00224d solid 2px;
        left: 10%;
        top: 115%;
        position: absolute;

    }

    #div02>#section5{
        width: 20vw;
        height: 80vh;
        background-color: #00224d;
        display: none;
    }

    #div02>#section6>div{
        color: grey;
        font-size: 2.5vw;
        font-family: "Klee One", cursive;
        font-weight: 400;
        left: -2%;
        top: 128%;
        display: none;
        transform: rotate(270deg);
        position: absolute;
    }

    #about {
        font-size: 20px; /* Set default font size for #about */
        color: white;
        font-family: "Fredoka", sans-serif;
        left: 10%;
        top: 140%;
        font-weight: 400;
        font-style: normal;
        position: absolute;
    }
}

@media (max-width: 768px) {
    #about {
        font-size: 8px; /* Ensure font-size is 20px for #about */

    }

    #f, #l, #ins, #g {
        width: 30px; /* Make the icons smaller for tablets */
        height: 30px;
        top: 145%; /* Adjust the top value to keep them under #about */
    }

    #f { left: 44%; } /* Adjusted spacing for tablet screens */
    #l { left: 53%; }
    #ins { left: 62%; }
    #g { left: 71%; }
}



@media (max-width: 768px) {
    /* Font sizes for tablets or medium screens */
    #div02>#section4>h5 {
        font-size: 8px; /* Reduce the font size */
        right: 20%;
        top: 107%;
    }

    #div02>#section4>h6 {
        font-size: 12px; /* Adjust the font size */
    }
}


@media (max-width: 768px) {
    #div02 {
        height: 60vh; /* Adjust height for tablet-sized screens */
    }
}



@media (max-width: 768px) {
    #div02>#section6>div {
        font-size: 3vw; /* Adjusted font size for tablets */
        left: 2%; /* Adjusted left position for tablets */
        top: 150%; /* Adjusted top position for tablets */
    }

    #div02>#section4>h6 {
        font-size: 10px; /* Adjusted font size for tablets */
        left: 12%; /* Adjusted left position for tablets */
        top: 106.5%; /* Adjusted top position for tablets */
    }

    #div02>#section4>h5 {
        font-size: 8px; /* Adjusted font size for tablets */
        left: 35%; /* Adjusted left position for tablets */
        top: 106.5%; /* Adjusted top position for tablets */
    }

    .transparent-about {
        font-size: 5vw;
        font-weight: bold;
        position: absolute;
        top: 125%;
        right: 20%;
        color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
    }

    #div02>img{
        height: 35vw;
        width: 35vw;
        border-radius: 60%;
        border: #00224d solid 2px;
        left: 10%;
        top: 113%;
        position: absolute;

    }


    #about {
        font-size: 8px; /* Set default font size for #about */
        color: white;
        font-family: "Fredoka", sans-serif;
        left: 28%;
        top: 140%;
        width: 600px;
        font-weight: 400;
        font-style: normal;
        position: absolute;
    }

}

