body{
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    background: linear-gradient(to right, #0c9463 0%,#00224d 100%);
    background-size: cover;
    border: 0;
    margin: 0;
}

body{
    position: relative;
}

#section1>h5{
    color: lightgoldenrodyellow;
    font-size: 1.5vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: -3%;
    left: 18%;
    position: absolute;
}

#section1>h6{
    color: #00224d;
    font-size: 1.5vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: -8%;
    left: 6%;
    position: absolute;
}

#section1>div {
    width: 1.3vw;
    height: 1.3vw;
    background: linear-gradient(to right, #d9d9d9 1%, #356aa0 98%);
    position: absolute;
    left: 4%;
    top: 11.5%;

}
#section2>img:nth-child(1){
    height: 18vw;
    width: 16vw;
    border-radius: 8%;
    left:10%;
    top: 120%;
    position: absolute;

}

#section2>img:nth-child(2){
    height: 18vw;
    width: 18vw;
    border-radius: 8%;
    left:22%;
    top: 55%;
    position: absolute;

}
#about{

    color: white;
    font-size: 1.4vw;
    left: 45%;
    top: 15vw;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;

}
