#section13{
    height:47vw;
    width: 100%;
    background: linear-gradient(to right, #00224d 0%, #0C9463 100%);
    background-size: cover;
    display: grid;
    color: #d9d9d9;
}

#section14>h6{
    margin: 0;
}

#section14>div{
    width: 1.3vw;
    height: 1.3vw;
    background: linear-gradient(to right, #d9d9d9 1%, #356aa0 98%);
    left: 7%;
    top: 425%;
    position: absolute;
    margin: 0;
}

#section14>h5{
    color: lightgoldenrodyellow;
    font-size: 1.2vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 420%;
    left: 17%;
    position: absolute;

}

#section14>h6{
    color: #0C9463;
    font-size: 1.5vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 424%;
    left: 9%;
    position: absolute;

}

#section13>card{
    width: 200px;
    height: 150px;
    background-color: #d9d9d9;
    opacity: 0.2;
    top: 437%;
    left: 10%;
    padding: 20px;
    border-radius: 10px;
    color: #00224d;
    position: absolute;
}

#section13>card>div:first-child{
    font-size: 2.5vw;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
#desc{
    font-size: x-small;
    color: black;
    left: 16%;
    display: flex;
    position: absolute;

}

#section13>card>button{
    width: 7vw;
    height: 2vw;
    border-color:#00224d;
    border-radius: 5vw;
    font-size: 7px;
    font-family: "Klee One", cursive;
    box-shadow: 10px 10px 10px #0090F9;
    font-weight: 400;
    font-style: normal;
    background: #0C9463;
    color: white;
    left:37%;
    bottom: 30%;
    position: absolute;
    margin-top: auto;

}