#div04{
    height:50vw;
    width: 100%;
    /*background: linear-gradient(to right,#00224d  0%, #0c9463  100%);*/
    background-color: #00224d;
    background-size: cover;
}

#section9>h5{
    color: lightgoldenrodyellow;
    font-size: 12px;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 301.5%;
    left: 22%;
    position: absolute;


}

#section9>h6{
    color: #0C9463;
    font-size: 15px;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 299%;
    left: 10%;
    position: absolute;


}

#section9>div{
    width: 1.3vw;
    height: 1.3vw;
    background: linear-gradient(to right, #d9d9d9 1%, #356aa0 98%);
    left: 7%;
    top: 304%;
    position: absolute;
    margin: 0;
}

.section10>div:nth-child(2){
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #0C9463;
    left: 48%;
    top: 330%;
    position: absolute;
}


.section10>div:nth-child(3){
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #0C9463;
    left: 48%;
    top: 350%;
    position: absolute;
}
.section10>div:nth-child(4){
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #0C9463;
    left: 48%;
    top: 370%;
    position: absolute;
}
.section10>div:nth-child(5){
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #0C9463;
    left: 48%;
    top: 390%;
    position: absolute;
}
.section10>div:nth-child(1){
    width: 5px;
    height: 37vw;
    background-color: #d9d9d9;
    border-radius: 20%;
    left: 48.9%;
    top: 324%;
    position: absolute;
}

#section11>div:nth-child(1){
    left: 23%;
    font-size: 1.5vw;
    font-family: "Fredoka", sans-serif;
    color: #d9d9d9;
    top: 329%;
    position: absolute;
}
#section12>div:nth-child(1){
    left: 23%;
    font-size: 1vw;
    font-family: "Fredoka", sans-serif;
    color: #d9d9d9;
    top: 334%;
    position: absolute;


}
#section11>div:nth-child(2){
    left: 53%;
    font-size: 1.5vw;
    font-family: "Fredoka", sans-serif;
    color: #d9d9d9;
    top: 350%;
    position: absolute;
}

#section12>div:nth-child(2){
    left: 53%;
    font-size: 1vw;
    font-family: "Fredoka", sans-serif;
    color: #d9d9d9;
    top: 355%;
    position: absolute;


}
#section11>div:nth-child(3){
    left: 23%;
    font-size: 1.5vw;
    font-family: "Fredoka", sans-serif;
    color: #d9d9d9;
    top: 370%;
    position: absolute;
}

#section12>div:nth-child(3){
    left: 23%;
    font-size: 1vw;
    font-family: "Fredoka", sans-serif;
    color: #d9d9d9;
    top: 375%;
    position: absolute;


}
#section11>div:nth-child(4){
    left: 53%;
    font-size: 1.5vw;
    font-family: "Fredoka", sans-serif;
    color: #d9d9d9;
    top: 390%;
    position: absolute;
}

#section12>div:nth-child(4){
    left: 53%;
    font-size: 1vw;
    font-family: "Fredoka", sans-serif;
    color: #d9d9d9;
    top: 395%;
    position: absolute;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 60px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card>.row {
    color: #d9d9d9;
    display: flex;
    flex-wrap: nowrap;
}

.card>.row>.icon {
    background: #223;
    color: #d9d9d9;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    font-size: 9px;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.card>.row>.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 1000px;
    height: 130px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description>p {
    font-size: 11px; /* Slightly increased font size for readability */
    font-family: "Fredoka", sans-serif;
    padding-right: 5%; /* Added padding to move the text 20% from the left */
    color: #d9d9d9;
    margin: 35px 0 0 0; /* Added margin to create space between the h4 and p */
}

.description>h6{
    font-size: large;
    font-family: "Klee One", cursive;
    margin: 0 0 70px 0; /* Reduced margin */
    padding: 0; /* Removed padding */
}

.description {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 800px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* Set different background images for each card */
.card[for="c1"] {
    position: absolute;
    top: 390%;
    right: 5%;
    background: linear-gradient(to right,#0C9463 0%, #00224d  100%);
}

.card[for="c2"] {
    position: absolute;
    top: 364%;
    left: 5%;
    background: linear-gradient(to right,#0C9463 0%, #00224d  100%);       }

.card[for="c3"] {
    position: absolute;
    top: 344%;
    right: 5%;
    background: linear-gradient(to right,#0C9463 0%, #00224d  100%);      }

.card[for="c4"] {
    position: absolute;
    left: 5%;
    top: 320%;
    background: linear-gradient(to right,#0C9463 0%, #00224d  100%);      }



/*---------------------------Education----------------------------------*/
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    #div04{
        height: 500px;
        background: linear-gradient(to right, #0c9463 0%,#00224d 100%);
    }

    #section9 > h5 {
        font-size: 8px;
        top: 237%;
        left: 23%;
    }

    #section9 > h6 {
        font-size: 10px;
        top: 232%;
        left: 12%;
    }

    #section9 > div {
        width: 12px;
        height: 12px;
        top: 235.5%;
    }

    .section10>div:nth-child(2){
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #0C9463;
        left: 47%;
        top: 250%;
        position: absolute;
    }


    .section10>div:nth-child(3){
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #0C9463;
        left: 47%;
        top: 260%;
        position: absolute;
    }
    .section10>div:nth-child(4){
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #0C9463;
        left: 47%;
        top: 270%;
        position: absolute;
    }
    .section10>div:nth-child(5){
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #0C9463;
        left: 47%;
        top: 280%;
        position: absolute;
    }
    .section10>div:nth-child(1){
        width: 2.5px;
        height: 45vw;
        background-color: #00224d;
        border-radius: 20%;
        left: 48.9%;
        top: 250%;
        position: absolute;
    }

    #section11>div:nth-child(1){
        left: 12%;
        font-size: 2.2vw;
        font-family: "Fredoka", sans-serif;
        color: #d9d9d9;
        top: 250%;
        position: absolute;
    }
    #section12>div:nth-child(1){
        left: 12%;
        font-size: 1.5vw;
        font-family: "Fredoka", sans-serif;
        color: #d9d9d9;
        top: 252%;
        position: absolute;


    }
    #section11>div:nth-child(2){
        left: 53%;
        font-size: 2vw;
        font-family: "Fredoka", sans-serif;
        color: #d9d9d9;
        top: 260%;
        position: absolute;
    }

    #section12>div:nth-child(2){
        left: 53%;
        font-size: 1.5vw;
        font-family: "Fredoka", sans-serif;
        color: #d9d9d9;
        top: 262%;
        position: absolute;


    }
    #section11>div:nth-child(3){
        left: 21%;
        font-size: 2vw;
        font-family: "Fredoka", sans-serif;
        color: #d9d9d9;
        top: 270%;
        position: absolute;
    }

    #section12>div:nth-child(3){
        left: 21%;
        font-size: 1.5vw;
        font-family: "Fredoka", sans-serif;
        color: #d9d9d9;
        top: 272%;
        position: absolute;


    }
    #section11>div:nth-child(4){
        left: 53.3%;
        font-size: 2vw;
        font-family: "Fredoka", sans-serif;
        color: #d9d9d9;
        top: 280%;
        position: absolute;
    }

    #section12>div:nth-child(4){
        left: 53.3%;
        font-size: 1.5vw;
        font-family: "Fredoka", sans-serif;
        color: #d9d9d9;
        top: 282%;
        position: absolute;
    }
    .wrapper {
        display: none;
    }

    .container {
        height: 100px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
    }

    .card {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    #div04 {
        height: 390px;
    }

    #section9 > h5 {
        font-size: 6px; /* Smaller font size for headings */
        top: 200%; /* Adjust positioning */
        left: 20%; /* Adjust positioning */
    }

    #section9 > h6 {
        font-size: 8px; /* Smaller font size for subheadings */
        top: 195%; /* Adjust positioning */
        left: 10%; /* Adjust positioning */
    }

    #section9 > div {
        width: 10px; /* Reduce size of divs */
        height: 10px; /* Reduce size of divs */
        top: 200%; /* Adjust positioning */
    }
    .section10 > div:nth-child(2) {
        width: 13px;
        height: 13px;
        border-radius: 100%;

        background-color: #0C9463;
        left: 47.3%;
        top: 312%;
        position: absolute;
    }


    .section10 > div:nth-child(3) {
        width: 13px;
        height: 13px;
        border-radius: 100%;
        background-color: #0C9463;
        left: 47.3%;
        top: 320%;
        position: absolute;
    }

    .section10 > div:nth-child(4) {
        width: 13px;
        height: 13px;
        border-radius: 100%;
        background-color: #0C9463;
        left: 47.3%;
        top: 328%;
        position: absolute;
    }

    .section10 > div:nth-child(5) {
        width: 13px;
        height: 13px;
        border-radius: 100%;
        background-color: #0C9463;
        left: 47.3%;
        top: 336%;
        position: absolute;
    }

    .section10 > div:nth-child(1) {
        width: 2.5px;
        height: 62vw;
        background-color: #00224d;
        border-radius: 20%;
        left: 48.9%;
        top: 310%;
        position: absolute;
    }

    #section11 > div:nth-child(1) {
        left: 16%;
        font-size: 2vw;
        font-family: "Fredoka", sans-serif;
        color: #d9d9d9;
        top: 312%;
        position: absolute;
    }

    #section12 > div:nth-child(1) {
        left: 16%;
        font-size: 1.5vw;
        font-family: "Fredoka", sans-serif;
        color: #d9d9d9;
        top: 314%;
        position: absolute;


    }

    #section11 > div:nth-child(2) {
        left: 55%;
        font-size: 2vw;
        font-family: "Edu VIC WA NT Beginner", cursive;
        color: #d9d9d9;
        top: 320%;
        position: absolute;
    }

    #section12 > div:nth-child(2) {
        left: 55%;
        font-size: 1.5vw;
        font-family: "Edu VIC WA NT Beginner", cursive;
        color: #d9d9d9;
        top: 322%;
        position: absolute;


    }

    #section11 > div:nth-child(3) {
        left: 18%;
        font-size: 2vw;
        font-family: "Edu VIC WA NT Beginner", cursive;
        color: #d9d9d9;
        top: 328%;
        position: absolute;
    }

    #section12 > div:nth-child(3) {
        left: 18%;
        font-size: 1.5vw;
        font-family: "Edu VIC WA NT Beginner", cursive;
        color: #d9d9d9;
        top: 330%;
        position: absolute;


    }

    #section11 > div:nth-child(4) {
        left: 55%;
        font-size: 2vw;
        font-family: "Edu VIC WA NT Beginner", cursive;
        color: #d9d9d9;
        top: 336%;
        position: absolute;
    }

    #section12 > div:nth-child(4) {
        left: 55%;
        font-size: 1.5vw;
        font-family: "Edu VIC WA NT Beginner", cursive;
        color: #d9d9d9;
        top: 338%;
        position: absolute;
    }

    .wrapper {
        display: none;
    }

    .container {
        height: 100px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
    }

    .card {
        display: none;
    }

}

