#div04{
    height:47vw;
    width: 100%;
    background: linear-gradient(to right,#00224d  0%, #0c9463  100%);
    background-size: cover;
}

#section9>h5{
    color: lightgoldenrodyellow;
    font-size: 1.2vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 313%;
    left: 22%;
    position: absolute;


}

#section9>h6{
    color: #0C9463;
    font-size: 1.5vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 309%;
    left: 9%;
    position: absolute;


}

#section9>div{
    width: 1.3vw;
    height: 1.3vw;
    background: linear-gradient(to right, #d9d9d9 1%, #356aa0 98%);
    left: 7%;
    top: 317%;
    position: absolute;
    margin: 0;
}




/*        #section10>div:nth-child(2){
            width: 45px;
            height: 35px;
            margin: 0;
            top: 350%;
            left: 48%;
            position: absolute;

        }
        #section10>div:nth-child(3){
            width: 45px;
            height: 35px;
            margin: 0;
            top: 370%;
            left: 48%;
            position: absolute;

        }
        #section10>div:nth-child(4){
            width: 45px;
            height: 35px;
            margin: 0;
            top: 390%;
            left: 48%;
            position: absolute;

        }*/


#section10>div:nth-child(2){
    width: 23px;
    height: 23px;
    border-radius: 100%;
    border: #0090F9 2px solid;
    background-color: #0C9463;
    left: 48.3%;
    top: 335%;
    position: absolute;
}


#section10>div:nth-child(3){
    width: 23px;
    height: 23px;
    border-radius: 100%;
    border: #0090F9 2px solid;
    background-color: #0C9463;
    left: 48.3%;
    top: 355%;
    position: absolute;
}
#section10>div:nth-child(4){
    width: 23px;
    height: 23px;
    border-radius: 100%;
    border: #0090F9 2px solid;
    background-color: #0C9463;
    left: 48.3%;
    top: 375%;
    position: absolute;
}
#section10>div:nth-child(5){
    width: 23px;
    height: 23px;
    border-radius: 100%;
    border: #0090F9 2px solid;
    background-color: #0C9463;
    left: 48.3%;
    top: 395%;
    position: absolute;
}
#section10>div:nth-child(1){
    width: 5px;
    height: 525px;
    background-color: #00224d;
    border-radius: 20%;
    border: #0090F9 solid 2px;
    left: 48.9%;
    top: 330%;
    position: absolute;
}

#section11>div:nth-child(1){
    left: 28%;
    font-size: 1.5vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    color: #d9d9d9;
    top: 335%;
    position: absolute;
}
#section12>div:nth-child(1){
    left: 28%;
    font-size: 1vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    color: #d9d9d9;
    top: 340%;
    position: absolute;


}
#section11>div:nth-child(2){
    left: 53%;
    font-size: 1.5vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    color: #d9d9d9;
    top: 355%;
    position: absolute;
}

#section12>div:nth-child(2){
    left: 53%;
    font-size: 1vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    color: #d9d9d9;
    top: 359%;
    position: absolute;


}
#section11>div:nth-child(3){
    left: 28%;
    font-size: 1.5vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    color: #d9d9d9;
    top: 375%;
    position: absolute;
}

#section12>div:nth-child(3){
    left: 28%;
    font-size: 1vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    color: #d9d9d9;
    top: 380%;
    position: absolute;


}
#section11>div:nth-child(4){
    left: 53%;
    font-size: 1.5vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    color: #d9d9d9;
    top: 395%;
    position: absolute;
}

#section12>div:nth-child(4){
    left: 53%;
    font-size: 1vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    color: #d9d9d9;
    top: 400%;
    position: absolute;


}
