#section21{
    height:100vh;
    width: 100%;
    background: linear-gradient(to right, #0c9463 0%,#00224d 100%);
    background-size: cover;
}
#section22>h6{
    margin: 0;
    position: relative;
}
#section22>h5{
    color: lightgoldenrodyellow;
    font-size: 12px;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top:608%;
    left: 20%;
    position: absolute;
}

.transparent-Captured {
    font-size: 4vw;
    font-weight: bold;
    position: absolute;
    top: 650%;
    left: -20%;
    width: 700px;
    color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
    transform: rotate(270deg);
}

#section22>h6{
    color: #00224d;
    font-size: 15px;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 608%;
    left: 9%;
    position: absolute;
}

#section22>div {
    width: 1.3vw;
    height: 1.3vw;
    background: linear-gradient(to right, #d9d9d9 1%, #356aa0 98%);
    position: absolute;
    left: 7%;
    top: 608%;

}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    top: 780%;

}

.gallery-item {
    width: calc(31% - 180px); /* Three images per row with spacing */
    height: 250px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .gallery-item {
        width: calc(50% - 10px); /* Two images per row */
    }
}

@media (max-width: 480px) {
    .gallery-item {
        width: 50%; /* One image per row */
    }
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {

    #section21{
        height:160vh;
        width: 100%;
        background-color: #00224d;
        background-size: cover;

    }

    .transparent-Captured {
        font-size: 4vw;
        font-weight: bold;
        position: absolute;
        top: 650%;
        left: -20%;
        width: 700px;
        color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
        transform: rotate(270deg);
        display: none;
    }

    #section22 > h5 {
        font-size: 9px;
        top: 490%;
        left: 23%;
    }

    #section22 > h6 {
        font-size: 12px;
        top: 485%;
        left: 12%;
    }

    #section22 > div {
        width: 12px;
        height: 12px;
        top: 486%;
    }
    * {
        box-sizing: border-box;
    }

    h1 {
        text-align: center;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px; /* Adjust gap for better spacing */
        top: 10%; /* Set top position to 530% */
        position: relative; /* Ensure it can position itself according to the top value */
    }

    .gallery-item {
        width: calc(50% - 10px); /* Two images per row */
        height: auto; /* Maintain aspect ratio */
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.3s;
        /* Add a smaller size for images */
    }

    .gallery-item img {
        width: 100%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
        border-radius: 5px; /* Add border radius for the images */
    }

    .gallery-item:hover {
        transform: scale(1.05); /* Scale on hover */
    }

    @media (max-width: 768px) {
        .gallery-item {
            width: calc(50% - 10px); /* Ensure two images per row on larger mobile screens */
        }
    }

    @media (max-width: 480px) {
        .gallery-item {
            width: 100%; /* One image per row on smaller screens */
        }
    }


    .lightbox {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
    }

    .lightbox img {
        max-width: 30%;
        max-height: 30%;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        50% {
            transform: scale(1.2);
            opacity: 0.7;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

}

@media screen and (max-width: 425px) {

    #section21{
        height:410vh;
        width: 120%;
        background: linear-gradient(to right, #0c9463 0%,#00224d 100%);
        background-size: cover;
    }
#section22{
    display: none;
}
    * {
        box-sizing: border-box;
    }

    h1 {
        text-align: center;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px; /* Adjust gap for better spacing */
        top: -5%; /* Set top position to 530% */
        position: relative; /* Ensure it can position itself according to the top value */
    }

    .gallery-item {
        width: calc(40% - 10px); /* Two images per row */
        height: auto; /* Maintain aspect ratio */
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.3s;
        /* Add a smaller size for images */
    }

    .gallery-item img {
        width: 30%; /* Make the image responsive */
        height: 30%; /* Maintain aspect ratio */
        top: 400%;
        border-radius: 5px; /* Add border radius for the images */
    }

    .gallery-item:hover {
        transform: scale(1.05); /* Scale on hover */
    }

    @media (max-width: 768px) {
        .gallery-item {
            width: calc(50% - 10px); /* Ensure two images per row on larger mobile screens */
        }
    }

    @media (max-width: 480px) {
        .gallery-item {
            width: 100%; /* One image per row on smaller screens */
        }
    }


    .lightbox {
        display: none;
        position: fixed;
        top: 20%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
    }

    .lightbox img {
        max-width: 10%;
        max-height: 10%;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        50% {
            transform: scale(1.2);
            opacity: 0.7;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    .transparent-Captured {
        font-size: 4vw;
        font-weight: bold;
        position: absolute;
        top: 470%;
        right: 50%;
        display: none;
        color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
        transform: rotate(0deg);
        display: none;
    }
}