.div01{
    background-image: url("Assert/home/3d-technology-geometric-black-background.jpg");
    background-size: cover;
    height:47vw;
    width: 100%;
}

body{

    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;

}

.div01>header>nav>a:first-child{
    position: relative;
    left: 23%;
    font-size: small;
    font-weight: 500;
    font-family: "Klee One", cursive;
    font-style: normal;
    color: lightyellow;
    text-decoration: none;
    padding: 8px 20px;
    transition: .8s;


}
.div01>header>nav>a:nth-child(2){
    position: relative;
    left: 23%;
    font-size: small;
    font-weight: 500;
    font-family: "Klee One", cursive;
    font-style: normal;
    color: lightyellow;
    text-decoration: none;
    padding: 8px 20px;
    transition: .8s;
}

.div01>header>nav>a:nth-child(3){
    position: relative;
    left: 23%;
    font-size: small;
    font-weight: 500;
    font-family: "Klee One", cursive;
    font-style: normal;
    color: lightyellow;
    text-decoration: none;
    padding: 8px 20px;
    transition: .8s;
}

.div01>header>nav>a:nth-child(4){
    position: relative;
    left: 23%;
    font-size: small;
    font-weight: 500;
    font-family: "Klee One", cursive;
    font-style: normal;
    color: lightyellow;
    text-decoration: none;
    padding: 8px 20px;
    transition: .8s;
}

.div01>header>nav>a:nth-child(6){
    position: relative;
    left: 30%;
    font-size: small;
    font-weight: 500;
    font-family: "Klee One", cursive;
    font-style: normal;
    color: lightyellow;
    text-decoration: none;
    padding: 8px 20px;
    transition: .8s;
}

.div01>header>nav>a:nth-child(7){
    position: relative;
    left: 30%;
    font-size: small;
    font-weight: 500;
    font-family: "Klee One", cursive;
    font-style: normal;
    color: lightyellow;
    text-decoration: none;
    padding: 8px 20px;
    transition: .8s;
}

.div01>header>nav>a:nth-child(8){
    position: relative;
    left: 30%;
    font-size: small;
    font-weight: 500;
    font-family: "Klee One", cursive;
    font-style: normal;
    color: lightyellow;
    text-decoration: none;
    padding: 8px 20px;
    transition: .8s;
}

.div01>header>nav>a:nth-child(9){
    position: relative;
    left: 30%;
    font-size: small;
    font-weight: 500;
    font-family: "Klee One", cursive;
    font-style: normal;
    color: lightyellow;
    text-decoration: none;
    padding: 8px 20px;
    transition: .8s;
}

nav>a:hover{
    color: #0090F9;
}

nav>a>span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #0090F9;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .8s;
}
nav>a:hover>span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

#massage{
    width: 5vw;
    height: 5vw;
    border: #0090F9;
    left: 10%;
    top: 20%;
    position: absolute;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;

}
#section1>#section2>div:nth-child(1){
    color: white;
    font-size: x-large;
    left: 11.4%;
    top: 23%;
    position: absolute;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;
}
#section1>#section2>div:nth-child(2){
    color: wheat;
    font-size: 5vw;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    left: 10%;
    top: 17%;
    position: absolute;

}

#section1>#section2>div:nth-child(3){
    color: wheat;
    font-size: 5vw;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    left: 10%;
    top: 30%;
    position: absolute;
}

#section1>#section2>div:nth-child(4){
    color: #0C9463;
    font-size: 2vw;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    left: 35%;
    top: 45.5%;
    position: absolute;
}

#section1>#section2>div:nth-child(5){
    color: white;
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    left: 10%;
    top: 54%;
    position: absolute;

}

#cv{
    width: 8vw;
    height: 2vw;
    border-color: #00224d;
    border-radius: 5vw;
    font-size: small;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    box-shadow: 10px 10px 10px #0090F9;
    background: #0C9463;
    color: white;
    left: 10%;
    bottom: 30%;
    position: absolute;
}



#explore{
    width: 6vw;
    height: 2vw;
    border-color:#00224d;
    border-radius: 5vw;
    font-size: small;
    font-family: "Klee One", cursive;
    box-shadow: 10px 10px 10px #0090F9;
    font-weight: 400;
    font-style: normal;
    background: #0C9463;
    color: white;
    left: 19.5%;
    bottom: 30%;
    position: absolute;
}

/*social media section*/

#fb{
    width: 2vw;
    height: 2vw;
    right: 2vw;
    top: 18vw;
    position: absolute;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;
}

#inster{
    width: 2vw;
    height: 2vw;
    right: 2vw;
    top: 22vw;
    position: absolute;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;

}
#github{
    width: 2vw;
    height: 2vw;
    right: 2vw;
    top: 26vw;
    position: absolute;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;
}


#linkedin{
    width: 2vw;
    height: 2vw;
    right: 2vw;
    top: 30vw;
    position: absolute;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;
}


#line{
    width: 2vw;
    height: 4vw;
    right: 2vw;
    top: 33vw;
    position: absolute;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;
}
#followme{

    color: white;
    transform: rotate(270deg);
    right: 0.3vw;
    top: 40vw;
    position: absolute;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 8px 20px;
    transition: .5s;
}


#profile{
    width: 30vw;
    height: 34vw;
    border-radius: 20vw;
    border-color: #0090F9;
    transform: rotateY(150deg);
    right: 12%;
    bottom: 15%;
    position: absolute;
}

/*social media button section*/
#behance{
    width: 14vw;
    height: 3vw;
    background: linear-gradient(to right, #737373 0%,#0c9463 100%);
    border-radius: 5px;
    top: 90%;
    right: 77%;
    font-size: small;
    color: white;
    position: absolute;

}

#behance>a>img{
    width: 2vw;
    height: 2vw;
    top: 15%;
    right: 5%;
    position: absolute;

}

#dribble{
    width: 14vw;
    height: 3vw;
    background: linear-gradient(to right, #737373 0%,#0c9463 100%);
    border-radius: 5px;
    top: 90%;
    right: 54%;
    font-size: small;
    color: white;
    position: absolute;
}

#dribble>a>img{
    width: 2vw;
    height: 2vw;
    top: 15%;
    right: 5%;
    position: absolute;
}

#tiktok{
    width: 14vw;
    height: 3vw;
    background: linear-gradient(to right, #737373 0%,#0c9463 100%);
    border-radius: 5px;
    top: 90%;
    right: 31%;
    font-size: small;
    color: white;
    position: absolute;
}

#tiktok>img{
    width: 2vw;
    height: 2vw;
    top: 15%;
    right: 5%;
    position: absolute;
}

#youtube{
    width: 14vw;
    height: 3vw;
    background: linear-gradient(to right, #737373 0%,#0c9463 100%);
    border-radius: 5px;
    top: 90%;
    right: 8%;
    font-size: small;
    color: white;
    position: absolute;
}

#youtube>img{
    width: 2vw;
    height: 2vw;
    top: 15%;
    right: 5%;
    position: absolute;
}

p{
    color: white;
    font-size: 1vw;
    border-color: #0090F9;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    left: 5%;
    margin: auto;
    position: absolute;
}

#arrow{
    transform: rotate(270deg);
    top: 75%;
    left: 10%;
    height: 3vw;
    position: absolute;
}
#lightroom{
    width: 2.5vw;
    height: 2.5vw;
    left: 58%;
    top: 18%;
    position: absolute;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;
}

#figma{
    width: 2.5vw;
    height: 2.5vw;
    left: 58%;
    top: 70%;
    position: absolute;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;
}

#Ps{
    width: 2.5vw;
    height: 2.5vw;
    left: 82%;
    top: 18%;
    position: absolute;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;

}

#logo{
    width: 3vw;
    height: 3vw;
    position: absolute;
    left: 48%;
    top: 0;
}




/* @keyframes logo-animation {

 0%{
     -webkit-transform :translateZ(0);
     transform: translateZ(0);
 }


     100%{
         -webkit-transform :translate3d(-1500px,0,0);
         transform: translate3d(-1500px,0,0);
     }

 }*/



/*