

body{
    background-image: url("../Assert/home/3d-technology-geometric-black-background.jpg");
    /*background-color: #353941;*/
    background-size: cover;
    background-repeat: no-repeat; /* This prevents the image from repeating */
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    height: 100vh;

    /*
    7F6951 A66E38
    */

}
/*body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Assert/home/3d-technology-geometric-black-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg); !* Rotate the background image *!
    transform-origin: center; !* Rotate from the center *!
    z-index: -1; !* Ensure the background stays behind the content *!
}*/

{
background-repeat: no-repeat;
}
.menu-toggle{
    display: none;
}

#outline{
    width: 57vw;
    height: 4vw;
    border-top: #0090F9 2px solid;
    border-right: #0090F9 2px solid;
    border-left: #0C9463 2px solid;
    border-bottom: #0C9463 2px solid;
    border-radius:10px;
    right: 1%;
    top: 1%;
    position: absolute;
}

.div01 > header > nav > ul {
    display: flex;
    right: 3%;
    position: absolute;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

.div01 > header > nav > ul > a {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Klee One", cursive;
    font-style: normal;
    color: #d9d9d9;
    text-decoration: none;
    padding: 12px;
    transition: .8s;
    margin: 0 10px; /* Adds some space between links */
}



nav>ul>a:hover{
    position: relative;
    color: #3498db;
}

nav>ul>a>span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #0090F9;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .8s;
}
nav>ul>a:hover>span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

#massage{
    width: 7vw;
    height: 5vw;
    border: #0090F9;
    left: 15%;
    top: 13%;
    position: absolute;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;

}
#section1>#section2>div:nth-child(1){
    color: white;
    font-size: 20px;
    left: 16.5%;
    top: 15%;
    position: absolute;
    font-family: "Klee One", cursive;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;
}
#section1>#section2>div:nth-child(2){
    color: wheat;
    font-size: 4vw;
    font-weight: 400;
    font-style: normal;
    left: 10%;
    top: 15%;
    position: absolute;

}

#section1>#section2>div:nth-child(3){
    color: wheat;
    font-size: 4vw;
    font-weight: 400;
    font-style: normal;
    left: 10%;
    top: 26%;
    position: absolute;
}

#section1>#section2>div:nth-child(4){
    color: #d9d9d9;
    font-size: 2vw;
    font-weight: 400;
    font-style: normal;
    left: 10%;
    top: 43%;
    position: absolute;
}

#section1>#section2>div:nth-child(5){
    color: #d9d9d9;
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    left: 10%;
    top: 53%;
    position: absolute;

}
#desc{
    width: 300px;
    font-size: 1vw;
    color: #d9d9d9;
    right: 10%;
    top: 45%;
    position: absolute;
}
#srilanka{
    width: 300px;
    font-size:1.6vw;
    color: #0C9463;
    right: 10%;
    top: 30%;
    position: absolute;
}

#homeO{
    width: 30px;
    height: 30px;
    background-color: #2ecc71;
    border-radius: 100%;
    position: absolute;
    right: 10%;
    top: 25%;
}
#home1{
    width: 45px;
    height: 45px;
    border: #0090F9 2px solid;
    border-radius: 100%;
    position: absolute;
    right: 20%;
    top: 20%;
}
#home2{
    width: 25px;
    height: 25px;
    border: #0C9463 2px solid;
    border-radius: 100%;
    position: absolute;
    right: 19%;
    top: 20%;
}

#cv{
    width: 8vw;
    height: 2vw;
    border-color: #00224d;
    border-radius: 10px;
    font-size: 13px;
    font-family: "Klee One", cursive;
    font-style: normal;
    box-shadow: 10px 10px 10px #0090F9;
    background: #0c9463;
    color: white;
    left: 10%;
    top: 63%;
    position: absolute;
}



#explore{
    width: 8vw;
    height: 2vw;
    border-color:#00224d;
    border-radius: 10px;
    font-size: 13px;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    box-shadow: 10px 10px 10px #0090F9;
    background: #0c9463;
    color: white;
    left: 20%;
    top: 63%;
    position: absolute;
}

/*social media section*/


.facebook{
    right: .5vw;
    top: 17vw;
    width: 70px;
    height: 50px;
    position: absolute;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: normal;
    padding: 8px 20px;
    transition: .5s;
}

.inster{
    right: .5vw;    top: 21vw;
    width: 70px;
    height: 50px;
    position: absolute;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: normal;
    padding: 8px 20px;
    transition: .5s;
}
.github{
    right: .5vw;    top: 25vw;
    width: 70px;
    height: 50px;
    position: absolute;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: normal;
    padding: 8px 20px;
    transition: .5s;
}


.linkedin{
    right: .5vw;    top: 29vw;
    width: 70px;
    height: 50px;
    position: absolute;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: normal;
    padding: 8px 20px;
    transition: .5s;
}


.line{
    right: .5vw;    top: 33vw;
    width: 4vw;
    height: 5vw;
    position: absolute;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: normal;
    padding: 8px 20px;
    transition: .5s;
}
.followme{

    color: white;
    transform: rotate(270deg);
    right: -1.10vw;
    top: 40vw;
    position: absolute;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: normal;
    padding: 8px 20px;
    transition: .5s;
}


#profile{
    width: 30vw;
    height: 34vw;
    border-radius: 20vw;
    border-color: #0090F9;
    transform: rotateY(150deg);
    right: 6%;
    bottom: 15%;
    position: absolute;
}

/*social media button section*/
#behance{
    width: 14vw;
    height: 3vw;
    background: linear-gradient(to right, #0C9463 0%,#737373 100%);
    border-radius: 5px;
    top: 88%;
    right: 77%;
    font-size: small;
    color: white;
    position: absolute;

}

#behance>a>img{
    width: 2vw;
    height: 2vw;
    top: 15%;
    right: 5%;
    position: absolute;

}

#dribble{
    width: 14vw;
    height: 3vw;
    background: linear-gradient(to right, #0C9463 0%,#737373 100%);    top: 88%;
    right: 54%;
    font-size: small;
    color: white;
    position: absolute;
}

#dribble>a>img{
    width: 2vw;
    height: 2vw;
    top: 15%;
    right: 5%;
    position: absolute;
}

#tiktok{
    width: 14vw;
    height: 3vw;
    background: linear-gradient(to right, #0C9463 0%,#737373 100%);    border-radius: 5px;
    top: 88%;
    right: 31%;
    font-size: small;
    color: white;
    position: absolute;
}

#tiktok>img{
    width: 2vw;
    height: 2vw;
    top: 15%;
    right: 5%;
    position: absolute;
}

#youtube{
    width: 14vw;
    height: 3vw;
    background: linear-gradient(to right, #0C9463 0%,#737373 100%);    border-radius: 5px;
    top: 88%;
    right: 8%;
    font-size: small;
    color: white;
    position: absolute;
}

#youtube>img{
    width: 2vw;
    height: 2vw;
    top: 15%;
    right: 5%;
    position: absolute;
}

p{
    color: white;
    font-size: 1vw;
    border-color: #0090F9;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    left: 5%;
    margin: auto;
    position: absolute;
}

#arrow{
    transform: rotate(180deg);
    top: 75%;
    left: 10%;
    height: 3vw;
    position: absolute;
}
.lightroom{
    width: 2.5vw;
    height: 2.5vw;
    left: 58%;
    top: 18%;
    position: absolute;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;
}

.figma{
    width: 2.5vw;
    height: 2.5vw;
    left: 58%;
    top: 70%;
    position: absolute;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;
}

.Ps{
    width: 2.5vw;
    height: 2.5vw;
    right: 20%;
    top: 18%;
    position: absolute;
    text-decoration: none;
    padding: 8px 20px;
    transition: .5s;

}

#logo{
    width: 3vw;
    height: 3vw;
    position: absolute;
    left: 52%;
    top: 0;
}
.toggle_btn{
    color: #d9d9d9;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgb(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    transition: height 0.2s cubic-bezier(0.175,0.885,0.32,1.272);
    display: none;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu>ul>a{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarmobile{
    display: none;
}

@media screen and (max-width:425px){

    .div01>header>nav>ul{
       display: none; background-image: url("../Assert/home/3d-technology-geometric-black-background.jpg");
        background-size: cover;
        background-repeat: no-repeat; /* This prevents the image from repeating */
        overflow-y: scroll;
        overflow-x: hidden;
        margin: 0;
        height: 100vh;
    }


{
    background-repeat: no-repeat;
}
    .menu-toggle{
        display: none;
    }

    #outline{
        width: 57vw;
        height: 4vw;
        border-top: #0090F9 2px solid;
        border-right: #0090F9 2px solid;
        border-left: #0C9463 2px solid;
        border-bottom: #0C9463 2px solid;
        border-radius:10px;
        right: 1%;
        top: 1%;
        position: absolute;
        display: none;
    }

    .div01 > header > nav > ul {
        display: flex;
        right: 3%;
        position: absolute;
        flex-wrap: wrap; /* Allows items to wrap on smaller screens */
        list-style-type: none; /* Remove bullet points */
        padding: 0;
        display: none;
    }

    .div01 > header > nav > ul > a {
        font-size: 1rem;
        font-weight: 500;
        font-family: "Klee One", cursive;
        font-style: normal;
        color: #d9d9d9;
        text-decoration: none;
        padding: 12px;
        transition: .8s;
        margin: 0 10px; /* Adds some space between links */
    }



    nav>ul>a:hover{
        position: relative;
        color: #3498db;
    }

    nav>ul>a>span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-bottom: 2px solid #0090F9;
        border-radius: 15px;
        transform: scale(0) translateY(50px);
        opacity: 0;
        transition: .8s;
    }
    nav>ul>a:hover>span{
        transform: scale(1) translateY(0);
        opacity: 1;
    }


    #massage{
        width: 5rem;
        height: 5rem;
        border: #0090F9;
        right: 15%;
        top: 10%;
        border-radius: 10px;
        text-decoration: none;
        position: absolute;
        padding: 8px 10px;
        transition: .5s;

    }
    #section1>#section2>div:nth-child(1){
        color: white;
        font-size: 18px;
        left: 16.5%;
        top: 13%;
        position: absolute;
        font-family: "Klee One", cursive;
        text-decoration: none;
        padding: 8px 20px;
        transition: .5s;
    }
    #section1>#section2>div:nth-child(2){
        color: wheat;
        font-size: 2.5rem;
        font-weight: 400;
        font-style: normal;
        left: 10%;
        top: 15%;
        position: absolute;

    }

    #section1>#section2>div:nth-child(3){
        color: wheat;
        font-size: 2.5rem;
        font-weight: 400;
        font-style: normal;
        left: 10%;
        top: 23%;
        position: absolute;
    }

    #section1>#section2>div:nth-child(4){
        color: #d9d9d9;
        font-size: 1.5rem;
        font-weight: 400;
        font-style: normal;
        left: 10%;
        top: 35%;
        position: absolute;
    }

    #section1>#section2>div:nth-child(5){
        color: #d9d9d9;
        font-size: 15px;
        font-weight: 100;
        font-style: normal;
        left: 10%;
        top: 43%;
        position: absolute;
    }
    #desc{
        width: 230px;
        font-size: 3vw;
        color: #d9d9d9;
        right: 10%;
        top: 50%;
        position: absolute;

    }
    #srilanka{
        width: 205px;
        font-size:3vw;
        color: #0C9463;
        right: 8%;
        top: 59%;
        position: absolute;

    }

    #homeO{
        width: 30px;
        height: 30px;
        background-color: #2ecc71;
        border-radius: 100%;
        position: absolute;
        right: 5%;
        display: none;
        top: 40%;
    }
    #home1{
        width: 45px;
        height: 45px;
        border: #0090F9 2px solid;
        border-radius: 100%;
        position: absolute;
        right: 30%;
        top: 10%;
    }
    #home2{
        width: 25px;
        height: 25px;
        border: #0C9463 2px solid;
        border-radius: 100%;
        position: absolute;
        right: 35%;
        top: 15%;
    }

    #cv{
        width: 5rem;
        height: 1.5rem;
        border-color: #00224d;
        border-radius: 10px;
        font-size: 10px;
        font-family: "Klee One", cursive;
        font-style: normal;
        box-shadow: 10px 10px 10px #0090F9;
        background: #0c9463;
        color: white;
        left: 65%;
        top: 68%;
        position: absolute;
    }



    #explore{
        width: 5rem;
        height: 1.5rem;
        border-color: #00224d;
        border-radius: 10px;
        font-size: 10px;
        font-family: "Klee One", cursive;
        font-style: normal;
        box-shadow: 10px 10px 10px #0090F9;
        background: #0c9463;
        color: white;
        left: 65%;
        top: 73.5%;
        position: absolute;
    }

    /*social media section*/


    .facebook{
        right: .5vw;
        top: 30%;
        width: 60px;
        height: 40px;
        position: absolute;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-size: 15px;
        font-style: normal;
        padding: 8px 20px;
        transition: .5s;
    }

    .inster{
        right: .5vw;
        top: 35%;
        width: 60px;
        height: 40px;
        position: absolute;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-size: 15px;
        font-style: normal;
        padding: 8px 20px;
        transition: .5s;
    }
    .github{
        right: .5vw;
        top: 40%;
        width: 60px;
        height: 40px;
        position: absolute;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-size: 15px;
        font-style: normal;
        padding: 8px 20px;
        transition: .5s;
    }


    .linkedin{
        right: .5vw;
        top: 45%;
        width: 60px;
        height: 40px;
        position: absolute;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-size: 15px;
        font-style: normal;
        padding: 8px 20px;
        transition: .5s;
    }


    .line{
        right: .5vw;
        top: 24%;
        width: 60px;
        height: 40px;
        position: absolute;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-size: 15px;
        font-style: normal;
        padding: 8px 20px;
        transition: .5s;
    }
    .followme{
        right: -3vw;
        top: 18%;
        position: absolute;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-size: 10px;
        font-style: normal;
        padding: 8px 20px;
        transition: .5s;
    }


    #profile{
        width: 30vw;
        height: 34vw;
        border-radius: 20vw;
        border-color: #0090F9;
        transform: rotateY(150deg);
        right: 6%;
        bottom: 15%;
        display: none;
        position: absolute;
    }

    /*social media button section*/
    #behance{
        width: 14vw;
        height: 3vw;
        background: linear-gradient(to right, #0C9463 0%,#737373 100%);
        border-radius: 5px;
        top: 88%;
        right: 77%;
        font-size: small;
        color: white;
        position: absolute;

    }

    #behance>a>img{
        width: 2vw;
        height: 2vw;
        top: 15%;
        right: 5%;
        position: absolute;

    }

    #dribble{
        width: 14vw;
        height: 3vw;
        background: linear-gradient(to right, #0C9463 0%,#737373 100%);    top: 88%;
        right: 54%;
        font-size: small;
        color: white;
        position: absolute;
    }

    #dribble>a>img{
        width: 2vw;
        height: 2vw;
        top: 15%;
        right: 5%;
        position: absolute;
    }

    #tiktok{
        width: 14vw;
        height: 3vw;
        background: linear-gradient(to right, #0C9463 0%,#737373 100%);    border-radius: 5px;
        top: 88%;
        right: 31%;
        font-size: small;
        color: white;
        position: absolute;
    }

    #tiktok>img{
        width: 2vw;
        height: 2vw;
        top: 15%;
        right: 5%;
        position: absolute;
    }

    #youtube{
        width: 14vw;
        height: 3vw;
        background: linear-gradient(to right, #0C9463 0%,#737373 100%);    border-radius: 5px;
        top: 88%;
        right: 8%;
        font-size: small;
        color: white;
        position: absolute;
    }

    #youtube>img{
        width: 2vw;
        height: 2vw;
        top: 15%;
        right: 5%;
        position: absolute;
    }

    p{
        color: white;
        font-size: 1vw;
        border-color: #0090F9;
        font-family: "Klee One", cursive;
        font-weight: 400;
        font-style: normal;
        left: 5%;
        margin: auto;
        position: absolute;
    }

    #arrow{
        transform: rotate(180deg);
        top: 85%;
        left: 74%;
        height: 2rem;
        position: absolute;
    }
    .lightroom{
        width: 2.5vw;
        height: 2.5vw;
        left: 58%;
        top: 18%;
        position: absolute;
        text-decoration: none;
        padding: 8px 20px;
        transition: .5s;
    }

    .figma{
        width: 2.5vw;
        height: 2.5vw;
        left: 58%;
        top: 70%;
        position: absolute;
        text-decoration: none;
        padding: 8px 20px;
        transition: .5s;
    }

    .Ps{
        width: 2.5vw;
        height: 2.5vw;
        right: 20%;
        top: 18%;
        position: absolute;
        text-decoration: none;
        padding: 8px 20px;
        transition: .5s;

    }

    #logo{
        width: 3vw;
        height: 3vw;
        position: absolute;
        left: 10%;
        top: 0;
    }
    .toggle_btn{
        color: #d9d9d9;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }
    .dropdown_menu{
        position: absolute;
        right: 2rem;
        top: 60px;
        height: 0;
        width: 300px;
        background-color: rgb(255,255,255,0.1);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        transition: height 0.2s cubic-bezier(0.175,0.885,0.32,1.272);
        display: none;
    }

    .dropdown_menu.open{
        height: 240px;
    }

    .dropdown_menu>ul>a{
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbarmobile{
        display: none;
    }



}




