#section15{
    height:47vw;
    width: 100%;
    background: linear-gradient(to right, #0c9463 0%,#00224d 100%);
    background-size: cover;

}
#section16>h6{
    margin: 0;
    position: relative;
}

.div02>#section4>h5{
    color: lightgoldenrodyellow;
    font-size: 1.2vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 103%;
    left: 21%;
    position: absolute;
}

.div02>#section4>h6{
    color: #0C9463;
    font-size: 1.5vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 107%;
    left: 9%;
    position: absolute;
}

.div02>#section4>div {
    width: 1.3vw;
    height: 1.3vw;
    background: linear-gradient(to right, #d9d9d9 1%, #356aa0 98%);
    position: absolute;
    left: 7%;
    top: 108%;

}
