body{
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    background-image: url("Assert/home/3d-technology-geometric-black-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
}

header{
    width: 55%;
    height: 2.5vw;
    right: 0;
    top: 0;


    border: 2px solid #0090F9;
    background-color: #625E5E;
    margin: auto;
    position: relative;
    line-height: 2px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

header>nav>ul>li:nth-child(1)>a{
    color: whitesmoke;
    font-size: small;
    margin-left: -12px;
    margin-right: 2px;
    bottom: 1vw;
    position: absolute;

}


header>nav>ul>li:nth-child(2)>a{
    color: whitesmoke;
    font-size: small;
    margin: 0 48px;
    bottom: 1vw;
    position: absolute;
}

header>nav>ul>li:nth-child(3)>a{
    color: whitesmoke;
    font-size: small;
    margin: 0 111px;
    bottom: 1vw;
    position: absolute;

}

header>nav>ul>li:nth-child(4)>a{
    color: whitesmoke;
    font-size: small;
    margin: 0 180px;
    bottom: 1vw;
    position: absolute;

}


header>nav>div{
    color: white;
    font-size: 1.8vw;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 320px;
    bottom: 1vw;
    position: absolute;

}

header>nav>ul>li:nth-child(5)>a{
    color: whitesmoke;
    font-size: small;
    margin: 0 350px;
    bottom: 1vw;
    position: absolute;

}

header>section{
    position: relative;
}
header>nav>ul>li:nth-child(6)>a{
    color: whitesmoke;
    font-size: small;
    margin: 0 460px;
    bottom: 1vw;
    position: absolute;

}

header>nav>ul>li:nth-child(7)>a{
    color: whitesmoke;
    font-size: small;
    margin: 0 540px;
    bottom: 1vw;
    position: absolute;

}

header>nav>ul>li:nth-child(8)>a{
    color: whitesmoke;
    font-size: small;
    margin: 0 620px;
    bottom: 1vw;
    position: absolute;

}
#massage{
    width: 5vw;
    height: 5vw;
    border: #0090F9;
    left: 10%;
    top: 20%;
    position: absolute;
    border-radius: 10px;

}
section>section>div:nth-child(1){
    color: white;
    font-size: x-large;
    left: 11.4%;
    top: 23%;
    position: absolute;
}
section>section>div:nth-child(2){
    color: white;
    font-size: 5vw;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    left: 10%;
    top: 17%;
    position: absolute;
}

section>section>div:nth-child(3){
    color: white;
    font-size: 5vw;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    left: 10%;
    top: 30%;
    position: absolute;
}

section>section>div:nth-child(4){
    color: #0C9463;
    font-size: 2.8vw;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    left: 35%;
    top: 41%;
    position: absolute;
}

section>section>div:nth-child(5){
    color: white;
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    left: 10%;
    top: 54%;
    position: absolute;

}

#cv{
    width: 7vw;
    height: 2vw;
    border-color: #00224d;
    border-radius: 5vw;
    font-size: small;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, #00224d 1%,#0c9463 100%,#0c9463 100%);
    color: white;
    left: 10%;
    bottom: 30%;
    position: absolute;
}

#explore{
    width: 5vw;
    height: 2vw;
    border-color:#00224d;
    border-radius: 5vw;
    font-size: small;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, #00224d 1%,#0c9463 100%,#0c9463 100%);
    color: white;
    left: 18%;
    bottom: 30%;
    position: absolute;
}

/*social media section*/

#fb{
    width: 2vw;
    height: 2vw;
    right: 2vw;
    top: 18vw;
    position: absolute;
}

#inster{
    width: 2vw;
    height: 2vw;
    right: 2vw;
    top: 22vw;
    position: absolute;
}
#github{
    width: 2vw;
    height: 2vw;
    right: 2vw;
    top: 26vw;
    position: absolute;
}

#linkedin{
    width: 2vw;
    height: 2vw;
    right: 2vw;
    top: 30vw;
    position: absolute;
}

#line{
    width: 2vw;
    height: 4vw;
    right: 2vw;
    top: 33vw;
    position: absolute;
}
#followme{

    color: white;
    transform: rotate(270deg);
    right: 0.3vw;
    top: 40vw;
    position: absolute;
}


#profile{
    width: 38vw;
    height: 48vw;
    border-radius: 100vw;
    border-color: #0090F9;
    transform: rotateY(150deg);
    right: 8%;
    bottom: 15%;
    position: absolute;
}

/*social media button section*/
#behance{
    width: 14vw;
    height: 3vw;
    background: linear-gradient(to right, #737373 0%,#0c9463 100%);
    border-radius: 5px;
    top: 90%;
    right: 77%;
    font-size: small;
    color: white;
    position: absolute;
}

#behance>a>img{
    width: 2vw;
    height: 2vw;
    top: 15%;
    right: 5%;
    position: absolute;
}

#dribble{
    width: 14vw;
    height: 3vw;
    background: linear-gradient(to right, #737373 0%,#0c9463 100%);
    border-radius: 5px;
    top: 90%;
    right: 54%;
    font-size: small;
    color: white;
    position: absolute;
}

#dribble>a>img{
    width: 2vw;
    height: 2vw;
    top: 15%;
    right: 5%;
    position: absolute;
}

#tiktok{
    width: 14vw;
    height: 3vw;
    background: linear-gradient(to right, #737373 0%,#0c9463 100%);
    border-radius: 5px;
    top: 90%;
    right: 31%;
    font-size: small;
    color: white;
    position: absolute;
}

#tiktok>img{
    width: 2vw;
    height: 2vw;
    top: 15%;
    right: 5%;
    position: absolute;
}

#youtube{
    width: 14vw;
    height: 3vw;
    background: linear-gradient(to right, #737373 0%,#0c9463 100%);
    border-radius: 5px;
    top: 90%;
    right: 8%;
    font-size: small;
    color: white;
    position: absolute;
}

#youtube>img{
    width: 2vw;
    height: 2vw;
    top: 15%;
    right: 5%;
    position: absolute;
}

p{
       color: white;
       font-size: 1vw;
       border-color: #0090F9;
       font-family: "Klee One", cursive;
       font-weight: 400;
       font-style: normal;
       left: 5%;
       margin: auto;
       position: absolute;
   }

 #arrow{
     transform: rotate(270deg);
     top: 75%;
     left: 10%;
     height: 3vw;
     position: absolute;
 }
#lightroom{
    width: 3vw;
    height: 3vw;
    left: 60%;
    top: 18%;
    position: absolute;
}

#figma{
    width: 3vw;
    height: 3vw;
    left: 60%;
    top: 70%;
    position: absolute;
}

#Ps{
    width: 3vw;
    height: 3vw;
    left: 89%;
    top: 18%;
    position: absolute;
}

