

#div03{
    height:105vh;
    width: 100%;
    background: linear-gradient(to right, #0c9463 0%,#00224d 100%);
    background-size: cover;
    top: 0;



}

#section7>h5{
    color: lightgoldenrodyellow;
    font-size: 12px;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 209%;
    left: 20%;
    position: absolute;


}

#section7>h6{
    color: #00224d;
    font-size: 15px;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    top: 209%;
    left: 10%;
    position: absolute;


}

.transparent-skills {
    font-size: 5vw;
    font-weight: bold;
    position: absolute;
    top: 255%;
    right: 37%;
    color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
}

#section7>div{
    width: 1.3vw;
    height: 1.3vw;
    background: linear-gradient(to right, #d9d9d9 1%, #356aa0 98%);
    left: 7%;
    top: 209%;
    position: absolute;
    margin: 0;
}

/* Parent container for the carousel */
.section8 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vw;
    top: -15%;
    overflow: hidden; /* Hide overflowing logos */
    position: relative;
}

/* Carousel slide container */
.logo-slide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    animation: scroll 5s linear infinite; /* Infinite scroll animation */
}

/* The carousel item styling */
#python, #java, #PHOTOShop, #react, #mysql, #lr, #js, #FI ,#html{
    width: 9vw;
    height: 9vw;
    align-self: center;
    opacity: 0.8;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/*!* Center logo styling (HTML logo) *!
#html {
    width: 15vw; !* Larger size for the center logo *!
    height: 15vw;
    z-index: 10;
    opacity: 1;
}*/

/* Infinite scrolling animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Logo slide container to make the logos move continuously */
.logo-slide {
    display: flex;
    gap: 50px; /* Adds spacing between the logos */
    animation: scroll 30s linear infinite; /* Continuous scroll effect */
}


#skill-section{
    width: 80%;
    top: 200%;
    margin: 0;
    height: auto;
    padding: 0 15%;

}
.skill-main{
    width: 80%;
    top: 280%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 60px;
    position: absolute;
}

.skill-main>.skills-bar>.info>p{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 10px;
}

.skill-main>.skills-bar{
    right: 10%;
    width: 80%;
    height: 10px;
    top: -120%;
    position: relative;
    border-radius: 25px;
    margin-top: 5px;

}

#names>h5:nth-child(1){
    color: #d9d9d9;
    font-size: 17px;
    position: absolute;
    font-family: Ebrima;
    left: -3%;
    top: -60px;

}

#names>h5:nth-child(2){
    color: #d9d9d9;
    font-size: 17px;
    position: absolute;
    font-family: Ebrima;
    left: 31%;
    top: -60px;

}
#names>h5:nth-child(3){
    color: #d9d9d9;
    font-size: 17px;
    position: absolute;
    font-family: Ebrima;
    left: 65%;
    top: -60px;

}

#names>h5:nth-child(4){
    color: #d9d9d9;
    font-size: 17px;
    position: absolute;
    font-family: Ebrima;
    left: 65%;
    top: 20px;

}
#names>h5:nth-child(5){
    color: #d9d9d9;
    font-size: 15px;
    position: absolute;
    font-family: Ebrima;
    left: 31%;
    top: 20px;

}
#names>h5:nth-child(6){
    color: #d9d9d9;
    font-size: 15px;
    position: absolute;
    font-family: Ebrima;
    left: -3%;
    top: 20px;

}

#percentage>h6:nth-child(1){
    color: #d9d9d9;
    font-size: 15px;
    position: absolute;
    font-family: Ebrima;
    left: 20%;
    top: -60px;
}

#percentage>h6:nth-child(2){
    color: #d9d9d9;
    font-size: 15px;
    position: absolute;
    font-family: Ebrima;
    left: 53%;
    top: -60px;
}
#percentage>h6:nth-child(3){
    color: #d9d9d9;
    font-size: 15px;
    position: absolute;
    font-family: Ebrima;
    left: 87%;
    top: -60px;
}
#percentage>h6:nth-child(4){
    color: #d9d9d9;
    font-size: 15px;
    position: absolute;
    font-family: Ebrima;
    left: 20%;
    top: 20px;
}
#percentage>h6:nth-child(5){
    color: #d9d9d9;
    font-size: 15px;
    position: absolute;
    font-family: Ebrima;
    left: 53%;
    top: 20px;
}
#percentage>h6:nth-child(6){
    color: #d9d9d9;
    font-size: 15px;
    position: absolute;
    font-family: Ebrima;
    left: 87%;
    top: 20px;
}


.skills-bar{
    width: 500px;
    color: black;
}

.skills-bar>div{

}
.bar{
    background-color: #737373;
    display: block;
    height: 15px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow:hidden ;
    box-shadow: 0 0 10px #00224d;
}

.bar>span{
    height: 15px;
    float: left;
    background: #d9d9d9;
}

.html{
    width: 98%;
    animation: html 2s;

}

@keyframes html {
    0%{
        width: 0;
    }
    100%{
        width: 98%;
    }

}
.css{
    width: 95%;
    animation: css 2s;

}

@keyframes css {
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }

}
.java{
    width: 90%;
    animation: java 2s;

}

@keyframes java {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }

}
.mysql{
    width: 90%;
    animation: mysql 2s;

}

@keyframes mysql {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }

}
.js{
    width: 85%;
    animation: js 2s;

}

@keyframes js {
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }

}

.react{
    width: 70%;
    animation: react 2s;

}

@keyframes react {
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }

}

/*
@media screen and (max-width:425px){
    #div03{
        height:70vh;
        width: 100%;
        !*background: linear-gradient(to right,#00224d  0%, #0c9463  100%);*!
        background-color: #00224d;
        background-size: cover;
        top: 0;



    }

    #section7>h5{
        color: lightgoldenrodyellow;
        font-size: 8px;
        font-weight: 0;
        font-style: normal;
        top: 226%;
        left: 23%;
        position: absolute;
    }

    #section7>h6{
        color: #0C9463;
        font-size: 10px;
        font-family: "Playwrite DE Grund", cursive;
        font-optical-sizing: auto;
        font-weight: 0;
        font-style: normal;
        top: 222%;
        left: 12%;
        position: absolute;
    }

    #section7>div{
        width: 12px;
        height: 12px;
        background: linear-gradient(to right, #d9d9d9 1%, #356aa0 98%);
        position: absolute;
        left: 7%;
        top: 226%;
    }

    !* Parent container for the carousel *!
    .section8 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50vw;
        top: 10%;
        overflow: hidden; !* Hide overflowing logos *!
        position: relative;
    }

    !* Carousel slide container *!
    .logo-slide {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: max-content;
        animation: scroll 5s linear infinite; !* Infinite scroll animation *!
    }

    !* The carousel item styling *!
    #python, #java, #PHOTOShop, #react, #mysql, #lr, #js, #FI ,#html{
        width: 10vw;
        height: 10vw;
        align-self: center;
        opacity: 0.8;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    !*!* Center logo styling (HTML logo) *!
    #html {
        width: 15vw; !* Larger size for the center logo *!
        height: 15vw;
        z-index: 10;
        opacity: 1;
    }*!

    !* Infinite scrolling animation *!
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    !* Logo slide container to make the logos move continuously *!
    .logo-slide {
        display: flex;
        gap: 20px; !* Adds spacing between the logos *!
        animation: scroll 30s linear infinite; !* Continuous scroll effect *!
    }


    #skill-section{
        width: 80%;
        top: 190%;
        margin: 0;
        height: auto;
        padding: 0 15%;

    }
    .skill-main{
        width: 80%;
        top: 230%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 5px;
        grid-row-gap: 35px;
        position: absolute;
    }

    .skill-main>.skills-bar>.info>p{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0 10px;
    }

    .skill-main>.skills-bar{
        right: 10%;
        width: 80%;
        height: 10px;
        position: relative;
        border-radius: 25px;
        margin-top: 5px;

    }

    #names>h5:nth-child(1){
        color: #d9d9d9;
        font-size: 10px;
        position: absolute;
        font-family: Ebrima;
        left: -3%;
        top: -30%;

    }

    #names>h5:nth-child(2){
        color: #d9d9d9;
        font-size: 10px;
        position: absolute;
        font-family: Ebrima;
        left: 31%;
        top: -30px;

    }
    #names>h5:nth-child(3){
        color: #d9d9d9;
        font-size: 10px;
        position: absolute;
        font-family: Ebrima;
        left: 65%;
        top: -30px;

    }

    #names>h5:nth-child(4){
        color: #d9d9d9;
        font-size: 10px;
        position: absolute;
        font-family: Ebrima;
        left: 65%;
        top: 20px;

    }
    #names>h5:nth-child(5){
        color: #d9d9d9;
        font-size: 10px;
        position: absolute;
        font-family: Ebrima;
        left: 31%;
        top: 20px;

    }
    #names>h5:nth-child(6){
        color: #d9d9d9;
        font-size: 10px;
        position: absolute;
        font-family: Ebrima;
        left: -3%;
        top: 20px;

    }

    #percentage>h6:nth-child(1){
        color: #d9d9d9;
        font-size:  9px;
        position: absolute;
        font-family: Ebrima;
        left: 20%;
        top: -33px;
    }

    #percentage>h6:nth-child(2){
        color: #d9d9d9;
        font-size: 9px;
        position: absolute;
        font-family: Ebrima;
        left: 53%;
        top: -33px;
    }
    #percentage>h6:nth-child(3){
        color: #d9d9d9;
        font-size: 9px;
        position: absolute;
        font-family: Ebrima;
        left: 87%;
        top: -33px;
    }
    #percentage>h6:nth-child(4){
        color: #d9d9d9;
        font-size: 9px;
        position: absolute;
        font-family: Ebrima;
        left: 20%;
        top: 18px;
    }
    #percentage>h6:nth-child(5){
        color: #d9d9d9;
        font-size: 9px;
        position: absolute;
        font-family: Ebrima;
        left: 53%;
        top: 18px;
    }
    #percentage>h6:nth-child(6){
        color: #d9d9d9;
        font-size: 9px;
        position: absolute;
        font-family: Ebrima;
        left: 87%;
        top: 18px;
    }


    .skills-bar{
        width: 500px;
        color: black;
    }

    .skills-bar>div{

    }
    .bar{
        background-color: #737373;
        display: block;
        height: 15px;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 3px;
        overflow:hidden ;
        box-shadow: 0 0 10px #00224d;
    }

    .bar>span{
        height: 15px;
        float: left;
        background: #d9d9d9;
    }

    .html{
        width: 98%;
        animation: html 2s;

    }

    @keyframes html {
        0%{
            width: 0;
        }
        100%{
            width: 98%;
        }

    }
    .css{
        width: 95%;
        animation: css 2s;

    }

    @keyframes css {
        0%{
            width: 0;
        }
        100%{
            width: 95%;
        }

    }
    .java{
        width: 90%;
        animation: java 2s;

    }

    @keyframes java {
        0%{
            width: 0;
        }
        100%{
            width: 90%;
        }

    }
    .mysql{
        width: 90%;
        animation: mysql 2s;

    }

    @keyframes mysql {
        0%{
            width: 0;
        }
        100%{
            width: 90%;
        }

    }
    .js{
        width: 85%;
        animation: js 2s;

    }

    @keyframes js {
        0%{
            width: 0;
        }
        100%{
            width: 85%;
        }

    }

    .react{
        width: 70%;
        animation: react 2s;

    }

    @keyframes react {
        0%{
            width: 0;
        }
        100%{
            width: 70%;
        }

    }
}*/

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@media screen and (max-width: 768px) {
    #div03 {
        height: 70vh;
        background-color: #00224d;
    }

    #section7 > h5 {
        font-size: 8px;
        top: 167%;
        left: 23%;
    }

    #section7 > h6 {
        font-size: 10px;
        top: 162%;
        left: 12%;
    }

    #section7 > div {
        width: 12px;
        height: 12px;
        top: 165.5%;
    }

    .section8 {
        height: 40vw; /* Adjust height for smaller screens */
        top: 12%;

    }

    .logo-slide {
        gap: 20px; /* Reduce spacing between logos */
        animation: scroll 20s linear infinite; /* Speed up scroll for smaller screens */
    }

    #skill-section {
        top: 190%;
    }

    .skill-main {
        top: 200%;
        grid-template-columns: repeat(2, 1fr); /* Change to 2 columns on small screens */
        grid-row-gap: 35px;
    }

    #names > h5 {
        font-size: 10px;
        top: -30%;
    }

    #percentage > h6 {
        font-size: 9px;
        top: -33px;
    }

    .skills-bar {
        width: 90%; /* Adjust width of skills bar */
    }
}


@media (max-width: 425px) {

    #div03{
        height:80vh;
        width: 120%;
        background: linear-gradient(to right, #0c9463 0%,#00224d 100%);
        background-size: cover;
    }

    #section7>h5{
        color: lightgoldenrodyellow;
        font-size: 12px;
        font-family: "Playwrite DE Grund", cursive;
        font-optical-sizing: auto;
        font-weight: 0;
        font-style: normal;
        top: 209%;
        left: 20%;
        position: absolute;
        display: none;


    }

    #section7>h6{
        color: #00224d;
        font-size: 15px;
        font-family: "Playwrite DE Grund", cursive;
        font-optical-sizing: auto;
        font-weight: 0;
        font-style: normal;
        top: 209%;
        left: 10%;
        position: absolute;
        display: none;
    }

    .transparent-skills {
        font-size: 5vw;
        font-weight: bold;
        position: absolute;
        top: 165%;
        right: 7%;
        color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
    }

    #section7>div{
        width: 1.3vw;
        height: 1.3vw;
        background: linear-gradient(to right, #d9d9d9 1%, #356aa0 98%);
        left: -10%;
        top: 209%;
        position: absolute;
        margin: 0;
        display: none;
    }

    /* Parent container for the carousel */
    .section8 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50vw;
        top: 10%;
        overflow: hidden; /* Hide overflowing logos */
        position: relative;
    }

    /* Carousel slide container */
    .logo-slide {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: max-content;
        animation: scroll 5s linear infinite; /* Infinite scroll animation */
    }

    /* The carousel item styling */
    #skill-section {
        top: 190%;
    }

    .skill-main {
        top: 200%;
        grid-template-columns: repeat(1, 1fr); /* Change to 2 columns on small screens */
        grid-row-gap: 5px;
    }



    .skills-bar {
        width: 50px; /* Adjust width of skills bar */
        position: absolute;
    }
    .skill-main{
        top: 195%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 5px;
        grid-row-gap: 30px;
        position: absolute;
    }

    .bar{
        background-color: #737373;
        display: block;
        height: 10px;
        width: 150px;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 3px;
        overflow:hidden ;
        box-shadow: 0 0 10px #00224d;
    }

    #names>h5:nth-child(1){
        color: #d9d9d9;
        font-size: 12px;
        position: absolute;
        font-family: Ebrima;
        left: 60%;
        top: -7%;

    }


    #names>h5:nth-child(2){
        color: #d9d9d9;
        font-size: 12px;
        position: absolute;
        font-family: Ebrima;
        left: 60%;
        top: 10%;

    }
    #names>h5:nth-child(3){
        color: #d9d9d9;
        font-size: 12px;
        position: absolute;
        font-family: Ebrima;
        left: 60%;
        top: 22%;

    }

    #names>h5:nth-child(4){
        color: #d9d9d9;
        font-size: 12px;
        position: absolute;
        font-family: Ebrima;
        left: 60%;
        top: 40%;
    }
    #names>h5:nth-child(5){
        color: #d9d9d9;
        font-size: 12px;
        position: absolute;
        font-family: Ebrima;
        left: 60%;
        top: 55%;
    }
    #names>h5:nth-child(6){
        color: #d9d9d9;
        font-size: 12px;
        position: absolute;
        font-family: Ebrima;
        left: 60%;
        top: 70%;

    }

    #percentage>h6:nth-child(1){
        color: #d9d9d9;
        font-size: 12px;
        position: absolute;
        font-family: Ebrima;
        left: 83%;
        top: -7%;
    }

    #percentage>h6:nth-child(2){
        color: #d9d9d9;
        font-size: 12px;
        position: absolute;
        font-family: Ebrima;
        left: 83%;
        top: 10%;
    }

    #percentage>h6:nth-child(3){
        color: #d9d9d9;
        font-size: 12px;
        position: absolute;
        font-family: Ebrima;
        left: 83%;
        top: 22%;

    }
    #percentage>h6:nth-child(4){
        color: #d9d9d9;
        font-size: 12px;
        position: absolute;
        font-family: Ebrima;
        left: 83%;
        top: 40%;
    }
    #percentage>h6:nth-child(5){
        color: #d9d9d9;
        font-size: 12px;
        position: absolute;
        font-family: Ebrima;
        left: 83%;
        top: 55%;
    }
    #percentage>h6:nth-child(6){
        color: #d9d9d9;
        font-size: 12px;
        position: absolute;
        font-family: Ebrima;
        left: 83%;
        top: 70%;
    }

}

